<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
   
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hotel Booking MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (this.User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Make A New Booking", "Index", "Customer")</li>
                        <li>@Html.ActionLink("Manage Orders", "Orders", "Admin")</li>
                        <li>@Html.ActionLink("Manage Rooms", "Rooms", "Admin")</li>
                        <li>@Html.ActionLink("Manage Users", "Users", "Admin")</li>
                    }
                    else if (this.User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Make A New Booking", "Index", "Customer")</li>
                        <li>@Html.ActionLink("View Orders", "Orders", "Customer")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["Message"] != null) {
            <div class="alert alert-info">
                @TempData["Message"]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            @RenderSection("footer", required: false)
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
