@model IEnumerable<HotelBooking.Data.GetAllCurrentBookings_Result>

@if (Model.Count() == 0) {
    <h2>
        No current orders.
    </h2>
}
else {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedRoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
            
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedRoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "EditCurrentOrder", new { id = item.ID })*@ 
        </td>
    </tr>
        }

    </table>
}
<p>
    @Html.ActionLink("Back to Order", "Orders")
</p>